@font-face {
    font-family: "Helios";
    src: url("fonts/Helios\ Regular.otf") format("opentype");
}

@font-face {
    font-family: "Arian LT";
    src: url("fonts/Arian\ LT\ Bold.ttf") format("opentype"),
        url("fonts/Arian\ LT\ Light.ttf") format("opentype");
}

@font-face {
    font-family: "Gadugi";
    src: url("fonts/gadugi.ttf") format("opentype"),
        url("fonts/gadugib.ttf") format("opentype");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/Myriad\ Pro\ Regular.ttf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arian LT", sans-serif;
    /* font-family: 'Helios', sans-serif; */
    /* font-family: 'Gadugi', sans-serif; */
    /* font-family: 'Myriad Pro', sans-serif; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

a {
    text-decoration: none;
}
.button1 {
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
}
.button1:hover {
    padding: 10px 10px;
    background-color: #000;
    color: #fff;
}
/* 
---------------------------------------------
NAVIGATION
--------------------------------------------- 
*/
nav {
    /* position: fixed; */
    width: 100%;
    /* z-index: 99; */
    background-color: transparent;
}

.nav1,
.nav2 {
    width: 100%;
    height: 80px;
    /* background: transparent; */
    border-bottom: 1px solid #fff;
    /* display: flex;
    justify-content: center; */
}
.nav1 ul,
.nav2 ul {
    /* float: right; */
    list-style-type: none;
    margin-top: 40px;
    color: #eef8fa;
}
.nav1 ul li,
.nav2 ul li {
    display: inline-block;
}
.nav1 ul li a,
.nav2 ul li a {
    text-transform: lowercase;
    font-family: "Helios", sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    padding: 5px 50px;
    transition: 0.4s ease;
    color: #eef8fa;
    cursor: pointer;
}

.nav2 ul li a.nav-button {
    padding: 5px 20px;
    background-color: #eef8fa;
    color: #000;
    font-weight: bolder;
}

.navbar.home {
    background: transparent;
}

#alternativeNavbar {
    display: none;
}

/*navbar*/
.navbar {
    position: fixed;
    /* z-index: 99; */
    /* width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box; */
    background: #000;
    transition: top 0.6s;
    /* padding-top: 20px; */
    height: 150px;
}

.navbar.animate {
    top: -150px;
    transition: 0.6s ease;
}
.navbar.sticky {
    top: 0;
    z-index: 99;
    transition: top 0.6s, background-color 0.6s;
}
.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    padding: 20px;
}
/*-------------landing page---------------------*/
section.landing-page {
    background-image: url("/images/landing1.png");
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .lp-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.lp-wrapper h1 {
    color: #fff;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
}

/*-------------next-event---------------------*/
section.next-event {
    background-color: #000;
    color: #fff;
    min-height: 400px;
    text-align: center;
    padding: 50px;
}
.next-event h5 {
    font-size: 20px;
}
.next-event h4 {
    font-size: 50px;
}
.next-event p {
    font-size: 100px;
    color: #000;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    /* Black outline */
}
.next-event h2 {
    font-size: 50px;
    font-weight: lighter !important;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.words {
    overflow: hidden;
    padding: 0px 0;
    /* background: #F8F9F9; */
    white-space: nowrap;
    position: relative;
}
.words:before,
.words:after {
    position: absolute;
    top: 0;
    width: 50px; /*?*/
    height: 100%;
    content: "";
    z-index: 2;
}
.words:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}
.words:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}
.words:hover .words-slide {
    animation-play-state: paused;
}
.words-slide {
    display: inline-block;
    animation: 15s slide infinite linear;
    /* margin: 0 25px; */
}
.words-slide p {
    margin: 0 50px;
}

/*-------------upcoming-events---------------------*/
section.upcoming-events {
    min-height: 500px;
    background-color: #000;
    padding: 50px;
}
.sub-heading h3 {
    color: #fff;
    margin-bottom: 30px;
}

/*swiper*/
.swiper {
    /* width: 100%; */
    padding-top: 50px;
    padding-bottom: 50px;
}

.work-box {
    padding: 30px !important;
    padding-top: 0 !important;
    width: 350px !important;
    height: 550px !important;
    background-color: #000;
    border: 1px solid #fff;
    margin: 0 !important;
    margin-bottom: 50px !important;
    color: #fff !important;
}

.work-box img {
    width: 60px;
    height: 50px;
    margin: 50px 0;
}
/* .logo-black{
    visibility: hidden;
} */
.work-box:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000 !important;
}
.work-box p {
    font-size: 14px;
    font-weight: lighter;
}

.uc-cta h6 {
    font-weight: lighter;
}

.swiper.mySwiper.case-studies {
    padding-left: 50px;
}

.swiper-button-prev,
.swiper-button-next {
    /* width: 50px;
    height: 50px; */
    background-color: transparent;
    color: #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 46px;
}

.swiper-button-prev {
    left: 10px;
    color: #fff !important;
}

.swiper-button-next {
    right: 10px;
    color: #fff !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #fff !important;
    /* Change color on hover if needed */
}
/* .swiper-pagination{
    margin-top: 50px!important;
} */

/* Style the inactive pagination dots */
.swiper-pagination-bullet {
    margin-top: -50px !important;
    background-color: white !important;
    /* Set the color for inactive dots */
    width: 22px !important;
    height: 8px !important;
    border-radius: 0 !important;
    border-radius: 3px !important;
    /* margin: 5px !important; */
}

/* Style the active pagination dot */
.swiper-pagination-bullet-active {
    background-color: white !important;
    /* Set the color for the active dot */
}

.swiper-pagination {
    color: #fff !important;
    /* background-color: #fff!important; */
}

/*-------------partners-n-sponsors-------------------*/
section.partners-n-sponsors {
    background-color: #000;
    padding: 50px 0;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 0px 0;
    /* background: #F8F9F9; */
    white-space: nowrap;
    position: relative;
}
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 2;
}
.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}
.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}
section.partners-n-sponsors.about .logos:before,
section.partners-n-sponsors.news .logos:before {
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
section.partners-n-sponsors.about
    .logos:after
    section.partners-n-sponsors.news
    .logos:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.logos:hover .logos-slide {
    animation-play-state: paused;
}
.logos-slide {
    display: inline-block;
    animation: 35s slide infinite linear;
}
.logos-slide img {
    height: 90px;
    margin: 0 25px;
}

/*-------------merchandise-alert---------------------*/

section.merchandise-alert {
    min-height: 500px;
    background-color: #000;
    padding: 50px;
}

.merchandise-alert h3 {
    color: #fff;
}

/*swiper*/
/* .swiper {
    padding-top: 50px;
    padding-bottom: 50px;
} */

.merch-box {
    width: 450px !important;
    height: 500px !important;
    background-color: #000;
    border: 1px solid #fff;
    margin: 0 10px !important;
    margin-bottom: 50px !important;
}
.merch-box.one {
    background-image: url("/images/ph/merch1-ph.PNG");
    background-size: cover;
    background-position: center;
}
.merch-box.two {
    background-image: url("/images/ph/merch2-ph.PNG");
    background-size: cover;
    background-position: center;
}
.merch-box.three {
    background-image: url("/images/ph/merch3-ph.PNG");
    background-size: cover;
    background-position: center;
}

/*-------------music-player---------------------*/
section.music-player {
    background-image: url("/images/ph/music-player-ph.PNG");
    background-size: cover;
    background-position: center;
    min-height: 755px;
}

/*----------- footer -------------------*/
footer {
    background-color: #000000 !important;
    color: #fff;
    padding: 50px 50px;
}
.foot {
    /* margin-top: 30px; */
    /* padding-left: 30px; */
    padding-top: 0px;
    text-align: left;
    height: auto;
}
.foot ul {
    margin: 0;
    padding: 0;
}
.foot ul li {
    list-style: none;
}
.foot.three ul li {
    /* padding: 10px 25px; */
    /* background-color: #fff; */
    margin-bottom: 10px;
    border-radius: 5px;
}
.foot.three ul li a {
    padding: 10px 25px;
    padding-right: 100px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
}

.btn.btn-success {
    background-color: #fff;
    color: #000;
    border-radius: 0;
    border: 1px solid #fff;
}

/* footer section MEDIA QUERY*/

@media screen and (max-width: 500px) {
    .foot h5 {
        margin-left: 0 !important;
    }
}

/* 
---------------------------------------------
ABOUT PAGE
--------------------------------------------- 
*/
section.about-landing {
    background-image: url("/images/Imass\ Dunda-9933_websize.jpg");
    background-size: cover;
    background-position: bottom;
    min-height: 600px;
    padding-top: 300px;
}
.about-landing p.white {
    text-align: center;
    font-size: 70px;
    color: #fff;
    /* text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff; */
}
.about-landing p.black {
    text-align: center;
    font-size: 70px;
    /* color: transparent; */
    color: black;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    /* Black outline */
}

/* @keyframes .about-landing slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
} */

.words2 {
    overflow: hidden;
    padding: 0px 0;
    /* background: #F8F9F9; */
    white-space: nowrap;
    position: relative;
}

.words2:before,
.words2:after {
    position: absolute;
    top: 0;
    width: 50px;
    /*?*/
    height: 100%;
    content: "";
    z-index: 2;
}

.words2:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), black);
}

.words2:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), black);
}

.words2:hover .words-slide2 {
    animation-play-state: paused;
}

.words-slide2 {
    display: inline-block;
    animation: 25s slide infinite linear;
    /* margin: 0 25px; */
}

.words-slide2 p {
    margin: 0 50px;
}

/*-------------info----------------*/
section.info {
    padding: 50px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

/*-------------venue----------------*/
section.venue-click {
    padding: 50px 0;
    background-color: #000;
    color: #fff;
    min-height: 600px;
}
.venue-click h3 {
    margin-left: 50px;
}
.venue-box {
    width: 450px !important;
    height: 500px !important;
    background-color: #000;
    border: 1px solid #fff;
    margin: 0 10px !important;
    margin-bottom: 50px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.venue-box.one {
    background-image: url(images/cities/nairobi.jpg);
    background-size: cover;
    background-position: center;
}
.venue-box.two {
    background-image: url(images/cities/mombasa.jpg);
    background-size: cover;
    background-position: center;
}
.venue-box.three {
    background-image: url(images/cities/naivasha.jpg);
    background-size: cover;
    background-position: center;
}
.venue-box p {
    font-size: 36px;
}
section.venue-pictures {
    background-image: url("/images/ph/venue2-ph.PNG");
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

/*-------------team----------------*/
section.team {
    padding: 50px 0;
    background-color: #000;
    color: #fff;
    min-height: 500px;
}
.team h3,
.team p {
    margin-left: 50px;
}
.team-box {
    width: 300px !important;
    height: 350px !important;
    background-color: #000;
    border: 1px solid #fff;
    margin: 0 10px !important;
    margin-bottom: 50px !important;
}
.team-box.one {
    background-image: url(images/team/user1.PNG);
    background-size: cover;
    background-position: center;
}
.team-box.two {
    background-image: url(images/team/user2.PNG);
    background-size: cover;
    background-position: center;
}
.team-box.three {
    background-image: url(images/team/user3.PNG);
    background-size: cover;
    background-position: center;
}
.team-box.four {
    background-image: url(images/team/user4.PNG);
    background-size: cover;
    background-position: center;
}
.team-box.five {
    background-image: url(images/team/user5.PNG);
    background-size: cover;
    background-position: center;
}

/*-------------pro-corner----------------*/
section.pro-corner {
    padding: 50px;
    background-color: #000;
    color: #fff;
    min-height: 500px;
}
.pro-wrapper {
    display: flex;
    justify-content: space-around;
}
.pro-box {
    width: 400px;
    height: 450px;
    border: 1px solid #fff;
}
.pro-box.one {
    background-image: url(images/djs.jpg);
    background-size: cover;
    background-position: bottom;
}
.pro-box.two {
    background-image: url(images/artists2.jpg);
    background-size: cover;
    background-position: center;
}
.pro-box.three {
    background-image: url(images/mcs.jpg);
    background-size: cover;
    background-position: center;
}
/*-------------www-cta----------------*/
section.www-cta {
    padding: 50px;
    background-color: #000;
    color: #fff;
    min-height: 300px;
}
.www-wrapper {
    display: flex;
    justify-content: space-around;
}
.www-box {
    /* position: absolute; */
    width: 400px;
    height: 200px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.www-box p {
    font-size: 22px;
}
/*-------------upcoming-events----------------*/

/*-------------partners-n-sponsors----------------*/
section.partners-n-sponsors.about {
    background-color: #fff;
    padding: 50px 0;
}

/* 
---------------------------------------------
NEWS PAGE
--------------------------------------------- 
*/
section.news-landing {
    min-height: 400px;
    padding-top: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}
.news-landing h2 {
    font-size: 100px;
    color: #fff;
}

/*-------------news-artciles----------------*/
section.news-articles {
    padding: 50px 50px;
    background-color: #000;
    border-bottom: 1px solid #fff;
}
.article-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.article-box {
    width: 400px;
    height: 500px;
    border: 1px solid #fff;
}

/*-------------blogs----------------*/
section.blogs {
    padding: 50px 50px;
    background-color: #000;
    border-bottom: 1px solid #fff;
}
.blog-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.blog-box {
    width: 400px;
    height: 500px;
    border: 1px solid #fff;
}

/*-------------other-news----------------*/
section.other-news {
    padding: 50px 50px;
    background-color: #000;
    border-bottom: 1px solid #fff;
    min-height: 500px;
}
.onws-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.onws-box {
    width: 320px;
    height: 350px;
    border: 1px solid #fff;
}
.onws-box.one {
    background-image: url(images/mh-news-ph-1.PNG);
    background-size: cover;
    background-position: center;
}
.onws-box.two {
    background-image: url(images/mh-news-ph-2.PNG);
    background-size: cover;
    background-position: center;
}
.onws-box.three {
    background-image: url(images/mh-news-ph-3.PNG);
    background-size: cover;
    background-position: center;
}
.onws-box.four {
    background-image: url(images/mh-news-ph-4.PNG);
    background-size: cover;
    background-position: center;
}

/*-------------trending-now----------------*/
section.trending-now {
    background-color: #000;
    padding: 50px 50px;
    /* background-image: url('images/ph/trending-now-ph.PNG');
    background-size: cover;
    background-position: center; */
    min-height: 450px;
}

/*-------------partners-n-sponsors----------------*/
section.partners-n-sponsors.news {
    background-color: #fff;
    padding: 50px 0;
    padding-top: 0;
}
section.partners-n-sponsors.news h3 {
    margin-left: 50px;
    /* padding: 30px 0; */
    /* background-color: #000; */
}

/*-------------other-stuff----------------*/
section.other-stuff {
    padding: 50px 50px;
    background-color: #000;
    border-bottom: 1px solid #fff;
    min-height: 450px;
}
.ostf-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ostf-box {
    width: 320px;
    height: 350px;
    border: 1px solid #fff;
}
.ostf-box.one {
    background-image: url(images/mh-stuff-ph-1.PNG);
    background-size: cover;
    background-position: center;
}

.ostf-box.two {
    background-image: url(images/mh-stuff-ph-2.PNG);
    background-size: cover;
    background-position: center;
}

.ostf-box.three {
    background-image: url(images/mh-stuff-ph-3.PNG);
    background-size: cover;
    background-position: center;
}

.ostf-box.four {
    background-image: url(images/mh-stuff-ph-4.PNG);
    background-size: cover;
    background-position: center;
}

/*-------------upcoming-events----------------*/

/*-------------music-player2----------------*/
section.music-player2 {
    background-image: url("/images/ph/music-player2-ph.PNG");
    background-size: cover;
    background-position: center;
    min-height: 300px;
}
