@tailwind base;
@tailwind components;
@tailwind utilities;

.apexcharts-datalabel-value {
    font-size: 18px !important;
}

@font-face {
    font-family: "Helios";
    src: url("fonts/Helios\ Regular.otf") format("opentype");
}

@font-face {
    font-family: "Arian LT";
    src: url("fonts/Arian\ LT\ Bold.ttf") format("opentype"),
        url("fonts/Arian\ LT\ Light.ttf") format("opentype");
}

@font-face {
    font-family: "Gadugi";
    src: url("fonts/gadugi.ttf") format("opentype"),
        url("fonts/gadugib.ttf") format("opentype");
}

@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/Myriad\ Pro\ Regular.ttf") format("opentype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arian LT", sans-serif;
    /* font-family: 'Helios', sans-serif; */
    /* font-family: 'Gadugi', sans-serif; */
    /* font-family: 'Myriad Pro', sans-serif; */
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

@layer components {
    .order-details {
        @apply transition-all duration-300 ease-in-out max-h-0 overflow-hidden;
        /* max-height: 0; */
    }

    .order-details.show {
        @apply delay-200 overflow-auto max-h-96;
    }
    .drag-drop {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(57, 179, 17, 0.3); /* Semi-transparent green */
        display: none; /* Hidden by default */
        z-index: 10; /* Make sure it's above the content */
    }

    .scrollbar-w-2::-webkit-scrollbar {
        width: 0.25rem;
        height: 0.25rem;
    }
    .scrollbar-w-0::-webkit-scrollbar {
        width: 0rem;
        height: 0rem;
    }
    html::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
    }
    html::-webkit-scrollbar {
        width: 0rem;
        height: 0rem;
    }
    .scrollbar-track-blue-lighter::-webkit-scrollbar-track,
    html::-webkit-scrollbar-track {
        --bg-opacity: 1;
        @apply bg-secondary;
    }

    .scrollbar-thumb-blue::-webkit-scrollbar-thumb
        html::-webkit-scrollbar-thumb {
        --bg-opacity: 1;
        @apply bg-secondary;
    }
    .scrollbar-thumb-h-blue::-webkit-scrollbar-thumb {
        --bg-opacity: 1;
        @apply bg-secondary;
    }

    .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
        border-radius: 0.25rem;
    }
    .active {
        @apply border-accent  border-l-4 2xl:border-l-8 text-accent;
    }
    .not-active {
        @apply border-transparent  border-l-4 2xl:border-l-8 text-textSecondary;
    }
}

:root {
    --primary: 255, 255, 255;
    --secondary: 247, 247, 247;
    --tertiary: 245, 130, 31;
    --text-secondary: 37, 37, 38;
    --text-primary: 0 0 0;
    --accent: 13, 116, 190;
}
.dark {
    --primary: 0, 0, 0;
    --secondary: 22, 22, 22;
    --tertiary: 196, 221, 255;
    --text-secondary: 211, 211, 211;
    --text-primary: 255, 255, 255;
    --accent: 13, 116, 190;
}

.z-1000 {
    z-index: 1000;
}
